# J2EE Servlet API, e.g. servlet-api.jar
SERVLETAPI=

# J2EE Websocket API, e.g. javax.websocket-api.jar
WEBSOCKETAPI=

# J2EE Websocket client implementation, e.g. tyrus-standalone-client-jdk.jar
CLIENTLIB=
